In [2]:
import pandas as pd
import numpy as np

''' Set dataframe options '''

pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 55)

In [35]:

''' Read input file '''
baocaohangchitiet = '../data/ewha/BaoCaoHangChiTiet 01062021-05072021.xls'
kho_nvl = '../data/ewha/Tình hình nhập mua NVL Q1.2021.xlsx'

baocaohangchitiet_df = pd.read_excel(baocaohangchitiet, header=9)
kho_nvl_df = pd.read_excel(kho_nvl, header=4)

In [36]:
E11_E15 = baocaohangchitiet_df.loc[((baocaohangchitiet_df['Mã loại hình'] == 'E11') | (baocaohangchitiet_df['Mã loại hình'] == 'E15')), [
    'Mã NPL/SP', 'Đơn vị tính', 'Tổng số lượng']]

In [38]:
E11_E15_temp = E11_E15.groupby(['Mã NPL/SP', 'Đơn vị tính']).sum()

In [41]:
E11_E15_temp.reset_index(inplace=True)

In [42]:
E11_E15_temp

     Mã NPL/SP Đơn vị tính  Tổng số lượng
0     11003105      CARATS       150000.0
1     11003108      CARATS        45000.0
2     11003205      CARATS         5000.0
3     11032005      CARATS        30000.0
4     11040021      CARATS       200000.0
...        ...         ...            ...
1034  V6009864      PIECES         6000.0
1035  V6009864          TO         3000.0
1036  V605T001      PIECES         4000.0
1037  V605T002      PIECES         4000.0
1038  V614T002          TO         2000.0

[1039 rows x 3 columns]

In [78]:
kho_nvl_df = pd.read_excel(kho_nvl, header=4)
# kho_nvl_df = kho_nvl_df.iloc[1: , :]
kho_nvl_df = kho_nvl_df[(kho_nvl_df['Ngày nhập kho'] != 'TOTAL') & (kho_nvl_df['Ngày nhập kho'] != 'Ngày nhập kho')]

In [79]:
kho_nvl_df = kho_nvl_df[['Mã hàng', 'Đơn vị mua vào', 'Số lượng nhập kho(Đơn vị lưu kho)']]

In [81]:
kho_nvl_df['Số lượng nhập kho(Đơn vị lưu kho)'] = pd.to_numeric(
    kho_nvl_df['Số lượng nhập kho(Đơn vị lưu kho)']
)

In [82]:
kho_nvl_df = kho_nvl_df.groupby(['Mã hàng', 'Đơn vị mua vào']).sum()

In [83]:
kho_nvl_df

                          Số lượng nhập kho(Đơn vị lưu kho)
Mã hàng Đơn vị mua vào
11003105  CT                                             150000
11003108  CT                                              10000
11003205  CT                                               5000
11040021  CT                                             300000
11040022  CT                                               2000
...                                                         ...
V1306168  pc                                               2000
V1307626  pc                                               4000
V6009039  pc                                               1000
V6009563  pc                                               2000
V6009864  pc                                               6000

[743 rows x 1 columns]