In [1]:
import pandas as pd

pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 55)

In [2]:
df = pd.read_excel('../data/posco/xnk.xls', header=9)

In [3]:
e21 = df.loc[df['Mã loại hình'] == 'E21', ['Mã NPL/SP', 'Đơn vị tính', 'Tổng số lượng']]
b13 = df.loc[df['Mã loại hình'] == 'B13', ['Mã NPL/SP', 'Đơn vị tính', 'Tổng số lượng']]
a42 = df.loc[df['Mã loại hình'] == 'A42', ['Mã NPL/SP', 'Đơn vị tính', 'Tổng số lượng']]

In [4]:
''' 
E21 type items 
'''

e21.rename(columns={
    'Mã NPL/SP': 'Items'
}, inplace=True)
e21['Items'] = [x.replace('$', '') for x in e21['Items']]

e21.reset_index(inplace=True)

e21.columns
# del e21['level_0'], e21['index']

aggregation_functions = {
    'Đơn vị tính': 'first',
    'Tổng số lượng': 'sum',
}
e21 = e21.groupby(e21['Items']).aggregate(aggregation_functions)

In [5]:
e21

               Đơn vị tính  Tổng số lượng
Items
Z0101013710003     Kilogam        31416.0
Z0101013720001     Kilogam        71890.0
Z0101013730001     Kilogam       110250.0
Z0101013740001     Kilogam        48762.0
Z0101013750001     Kilogam       191233.0
...                    ...            ...
Z0203100000005     Lon/Can          814.0
Z0302010000004     Kilogam           13.2
Z0302010000044     Kilogam          150.0
Z0302010000076     Kilogam          200.0
Z0302010000081     Kilogam           50.0

[527 rows x 2 columns]

In [6]:
'''
Output for Production 
'''
take_out = pd.read_excel('../data/posco/take_out.xlsx', header=9)
take_out = take_out[['Item Code', 'Unit', 'Qty', 'Weight']]
aggregation_functions = {
    'Unit': 'first',
    'Qty': 'sum',
    'Weight': 'sum'
}
take_out = take_out.groupby(take_out['Item Code']).aggregate(aggregation_functions)

take_out.reset_index(inplace=True)

take_out.rename(columns={
    'Item Code' : 'Items'
}, inplace=True)

In [7]:
take_out

               Items  Unit     Qty    Weight
0     Z0101010010002   PCS     6.0    1238.4
1     Z0101010020001   PCS     8.0    2284.8
2     Z0101010030002   PCS    81.0   13608.0
3     Z0101010050002   PCS   272.0  102816.0
4     Z0101010050003   PCS     1.0     189.0
...              ...   ...     ...       ...
2052  Z0303030000007     L  3288.0       0.0
2053  Z0303030000017     L    60.0       0.0
2054  Z0303030000022     L     8.0       0.0
2055  Z0303030000024   CAN     2.0       0.0
2056  Z0303030000025  PAIL    14.0       0.0

[2057 rows x 4 columns]

In [16]:
'''
Return
'''
return_df = pd.read_excel('../data/posco/return.xlsx', header=6)
return_df = return_df[['Item Code', 'Item Name', 'Unit', 'Return Qty', 'Return Weight']]
aggregation_functions = {
    'Item Name': 'first',
    'Unit': 'first',
    'Return Qty': 'sum',
    'Return Weight': 'sum'
}
return_df['Item Code'] = return_df['Item Code'].str.replace('$', '', regex=True)
return_df = return_df.groupby(return_df['Item Code']).aggregate(aggregation_functions)

return_df.rename(columns={
    'Item Code' : 'Items'
}, inplace=True)

d:\projects\excel-to-sql-snippets\env\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [46]:
'''
WAREHOUSE
'''
warehouse = pd.read_excel('../data/posco/iob.xlsx', header=9, skipfooter=10)
warehouse.rename(columns={
    'Unnamed: 0': 'Items',
    'Unnamed: 1': 'Name',
    'Unnamed: 3': 'Unit',
    'Unnamed: 13': 'Qty'
}, inplace=True)
warehouse = warehouse[['Items', 'Name', 'Unit', 'Qty']]
aggregation_functions = {
    'Name': 'first',
    'Unit': 'first',
    'Qty': 'sum',
}
warehouse['Items'] = warehouse['Items'].str.replace('$', '', regex=True)
warehouse = warehouse.groupby(warehouse['Items']).aggregate(aggregation_functions)

                                                             Name  Unit    Qty
Items
Z0101010010001                          H 100X100X6X8X10000-SS400   PCS    1.0
Z0101010010002                          H 100X100X6X8X12000-SS400   PCS   28.0
Z0101010020001                        H 125x125x6.5x9x12000-SS400   PCS   20.0
Z0101010020021                         H 125x125x6.5x9x6000-SS400   PCS    1.0
Z0101010030002                           H 150x75x5x7x12000-SS400   PCS    0.0
...                                                           ...   ...    ...
Z0303030000007                      LUBRICANT - TOTAL AZOLLA ZS68     L    0.0
Z0303030000017                 LUBRICANT - TOTAL TRANSTEC 5 80W90     L  178.0
Z0303030000022                        BLUE COOLANT FC124040 FOCAR     L    0.0
Z0303030000024  LUBRICANT - MILES SB COMP OIL PLUS 46 4000H 5G...   CAN    0.0
Z0303030000025  LUBRICANT - IDEMITSU DAPHNE SUPER SCREW VG 46 ...  PAIL   13.0

[4115 rows x 3 columns]