In [8]:
import pandas as pd
df1 = pd.DataFrame({("a", '1'):[1, 2, 3, 4],
                    "b":[5, 6, 7, 8],
                    "c":[5, 6, 7, 8],
                    "d":[5, 6, 7, 8],
                    "e":[5, 6, 7, 8],
                    "f":[5, 6, 7, 8],
                    "g":[5, 6, 7, 8],
                    "h":[5, 6, 7, 8],
                    "b":[5, 6, 7, 8],
                    "c":[5, 6, 7, 8],
                    })

df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7],
                    "c":[1, 2, 3],
                    "a":[2, 2, 3],
                    "b":[14, 2, 32],
                    "a":[12, 32, 3],
                   })

In [9]:
df1

   (a, 1)  b  c  d  e  f  g  h
0       1  5  5  5  5  5  5  5
1       2  6  6  6  6  6  6  6
2       3  7  7  7  7  7  7  7
3       4  8  8  8  8  8  8  8

In [7]:
df2

    a   b  c
0  12  14  1
1  32   2  2
2   3  32  3